body{
    font-family:Arial;
    background:rgba(255, 81, 0, 0.932);
    margin: 0px;
    padding: 0px;

}



#main-navigation{
    background: whitesmoke;
    padding: 15px;
    

}

#main-navigation .logo p{
    font-size: 20px;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    color: #fff;

}



 #main-navigation ul{
     text-align: right;
     list-style-type: none;
     margin-right: 5px;
}

#main-navigation li{
    display: inline-block;
    margin-left: 10px;
}



#main-navigation a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px;
}



#main-content h1{
    font-size: 40px;
    margin: 30px 0;
    padding: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 30%;
    width: 100%;
    
}

#main-content h2{
    font-size: 40px;
    margin: 30px 0;
    padding: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 37%;
    width: 100%;
}


#main-content h3{
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    top:60%;
}

#main-content h4{
    font-size: 13px;
    margin:  0;
    padding: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 63%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn{
    text-decoration: none;
    position: absolute;
    margin: 5px;
   
}

.btn-1{
    background: rgba(255, 136, 0, 0.979);
    border-radius: 20px;
    top: 54%;
    padding: 2px 30px;
    
}

.btn-2{
    background: rgb(255, 115, 0);
    border-radius: 40px;
    color: #fff;
    font-size: 13px;
    top: 80%;
    padding: 10px 10px;
    


}

.btn-3 {
    background: #fff;
    border-radius: 10px;
    top: 167%;
    padding: 2px 20px;
}



#main-content h5{
    font-size: 30px;
    text-align: center;
    color: #fff;
}

#main-content h6{
    font-size: 13px;
    text-align: center;
    color: #fff;
    margin: 0px;
    
}   
    
    



 














